@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://raw.githubusercontent.com/silviomoreto/bootstrap-select/master/dist/css/bootstrap-select.min.css');

.left-sidebar{
margin-top:70px;

}
#img-logo{
width:30px;
height:30px;
}
#jumbotron{
margin-top:70px;


}


#datalist1{
padding:5px;
margin:6px;
width:200px;
}

.input-group-150 {
max-width: 150px;

}

.input-group-300 {
max-width: 300px;
width: 100%;
}
#searchlocation{
margin-top:-20px;
}


.left-sidebar{
border:1px solid #ccc ;
border-width:3px;
padding:10px;
border-radius:5px;


}


.dynamicTile .col-sm-2.col-xs-4{
padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
padding:5px;
}

#tile1{
background: rgb(0,172,238);
}

#tile2{
background: rgb(243,243,243);
}

#tile3{
background: rgb(71,193,228);
}

#tile4{
background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
background-size: cover;
}

#tile5{
background: rgb(175,26,63);
}

#tile6{
background: rgb(62,157,215);
}

#tile7{
background: white;
}

#tile8{
background: rgb(209,70,37);
}

#tile9{
background: rgb(0,142,0);
}

#tile10{
background: rgb(0,93,233);

}

.tilecaption{
position: relative;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
margin:0!important;
text-align: center;
color:white;
font-family: Segoe UI;
font-weight: lighter;
}





#metrostyle{
margin:90px;
}

.img-hght{
height:200px;
}










